In [2]:
## starting model refinement and testing in this notebook 

# Import our dependencies
import pandas as pd
import os 


# Read in our ramen data
num_all_homes_df_transformed = pd.read_csv("../ETL/trans_with_state1HOT_Zhvi_city.csv")
# Read in our ramen data
num_all_homes_df_transformed
# # Print out the Country value counts
# country_counts = ramen_df.Country.value_counts()
# country_counts

,Unnamed: 0,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,...,41,42,43,44,45,46,47,48,49,50
0,0,196258.0,195693.0,195383.0,194836.0,194652.0,194520.0,194447.0,194313.0,194271.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,185649.0,185625.0,185645.0,185706.0,185755.0,185852.0,186014.0,185977.0,185812.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,93518.0,93633.0,93636.0,93811.0,93966.0,94079.0,94126.0,94220.0,94436.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,130920.0,130772.0,130511.0,130495.0,130172.0,130291.0,130143.0,130523.0,131041.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,94041.0,94007.0,93973.0,93957.0,93895.0,93880.0,93880.0,93981.0,94100.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17611,17611,58932.4,58931.2,58943.4,58981.0,59020.2,59115.2,59215.2,59374.8,59480.0,...,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0
17612,17612,21313.0,21343.8,21335.2,21295.6,21249.4,21212.8,21250.2,21296.4,21385.0,...,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.0
17613,17613,49616.0,52167.2,52133.8,52161.2,52294.0,52433.2,52652.6,52692.4,52767.4,...,0.0,0.0,0.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0
17614,17614,42433.4,42411.6,42412.8,42383.4,42448.6,44961.8,45021.4,44926.2,44939.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17615,17615,89596.8,89627.8,89564.2,89484.0,89356.0,89487.6,89631.4,89943.4,90228.0,...,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
## check that KNN imputer worked 

    
for column in num_all_homes_df_transformed.columns:
    print(f"column {column} has {num_all_homes_df_transformed[column].isnull().sum()} null values")

column Unnamed: 0 has 0 null values
column 1996-01-31 has 0 null values
column 1996-02-29 has 0 null values
column 1996-03-31 has 0 null values
column 1996-04-30 has 0 null values
column 1996-05-31 has 0 null values
column 1996-06-30 has 0 null values
column 1996-07-31 has 0 null values
column 1996-08-31 has 0 null values
column 1996-09-30 has 0 null values
column 1996-10-31 has 0 null values
column 1996-11-30 has 0 null values
column 1996-12-31 has 0 null values
column 1997-01-31 has 0 null values
column 1997-02-28 has 0 null values
column 1997-03-31 has 0 null values
column 1997-04-30 has 0 null values
column 1997-05-31 has 0 null values
column 1997-06-30 has 0 null values
column 1997-07-31 has 0 null values
column 1997-08-31 has 0 null values
column 1997-09-30 has 0 null values
column 1997-10-31 has 0 null values
column 1997-11-30 has 0 null values
column 1997-12-31 has 0 null values
column 1998-01-31 has 0 null values
column 1998-02-28 has 0 null values
column 1998-03-31 has 0 null values
column 1998-04-30 has 0 null values
column 1998-05-31 has 0 null values
column 1998-06-30 has 0 null values
column 1998-07-31 has 0 null values
column 1998-08-31 has 0 null values
column 1998-09-30 has 0 null values
column 1998-10-31 has 0 null values
column 1998-11-30 has 0 null values
column 1998-12-31 has 0 null values
column 1999-01-31 has 0 null values
column 1999-02-28 has 0 null values
column 1999-03-31 has 0 null values
column 1999-04-30 has 0 null values
column 1999-05-31 has 0 null values
column 1999-06-30 has 0 null values
column 1999-07-31 has 0 null values
column 1999-08-31 has 0 null values
column 1999-09-30 has 0 null values
column 1999-10-31 has 0 null values
column 1999-11-30 has 0 null values
column 1999-12-31 has 0 null values
column 2000-01-31 has 0 null values
column 2000-02-29 has 0 null values
column 2000-03-31 has 0 null values
column 2000-04-30 has 0 null values
column 2000-05-31 has 0 null values
column 2000-06-30 has 0 null values
column 2000-07-31 has 0 null values
column 2000-08-31 has 0 null values
column 2000-09-30 has 0 null values
column 2000-10-31 has 0 null values
column 2000-11-30 has 0 null values
column 2000-12-31 has 0 null values
column 2001-01-31 has 0 null values
column 2001-02-28 has 0 null values
column 2001-03-31 has 0 null values
column 2001-04-30 has 0 null values
column 2001-05-31 has 0 null values
column 2001-06-30 has 0 null values
column 2001-07-31 has 0 null values
column 2001-08-31 has 0 null values
column 2001-09-30 has 0 null values
column 2001-10-31 has 0 null values
column 2001-11-30 has 0 null values
column 2001-12-31 has 0 null values
column 2002-01-31 has 0 null values
column 2002-02-28 has 0 null values
column 2002-03-31 has 0 null values
column 2002-04-30 has 0 null values
column 2002-05-31 has 0 null values
column 2002-06-30 has 0 null values
column 2002-07-31 has 0 null values
column 2002-08-31 has 0 null values
column 2002-09-30 has 0 null values
column 2002-10-31 has 0 null values
column 2002-11-30 has 0 null values
column 2002-12-31 has 0 null values
column 2003-01-31 has 0 null values
column 2003-02-28 has 0 null values
column 2003-03-31 has 0 null values
column 2003-04-30 has 0 null values
column 2003-05-31 has 0 null values
column 2003-06-30 has 0 null values
column 2003-07-31 has 0 null values
column 2003-08-31 has 0 null values
column 2003-09-30 has 0 null values
column 2003-10-31 has 0 null values
column 2003-11-30 has 0 null values
column 2003-12-31 has 0 null values
column 2004-01-31 has 0 null values
column 2004-02-29 has 0 null values
column 2004-03-31 has 0 null values
column 2004-04-30 has 0 null values
column 2004-05-31 has 0 null values
column 2004-06-30 has 0 null values
column 2004-07-31 has 0 null values
column 2004-08-31 has 0 null values
column 2004-09-30 has 0 null values
column 2004-10-31 has 0 null values
column 2004-11-30 has 0 null values
column 2004-12-31 has 0 null values
column 2005-01-31 has 0 null values
column 2005-02-28 has 0 null values
column 2005-03-31 has 0 null values
column 2005-04-30 has 0 null values
column 2005-05-31 has 0 null values
column 2005-06-30 has 0 null values
column 2005-07-31 has 0 null values
column 2005-08-31 has 0 null values
column 2005-09-30 has 0 null values
column 2005-10-31 has 0 null values
column 2005-11-30 has 0 null values
column 2005-12-31 has 0 null values
column 2006-01-31 has 0 null values
column 2006-02-28 has 0 null values
column 2006-03-31 has 0 null values
column 2006-04-30 has 0 null values
column 2006-05-31 has 0 null values
column 2006-06-30 has 0 null values
column 2006-07-31 has 0 null values
column 2006-08-31 has 0 null values
column 2006-09-30 has 0 null values
column 2006-10-31 has 0 null values
column 2006-11-30 has 0 null values
column 2006-12-31 has 0 null values
column 2007-01-31 has 0 null values
column 2007-02-28 has 0 null values
column 2007-03-31 has 0 null values
column 2007-04-30 has 0 null values
column 2007-05-31 has 0 null values
column 2007-06-30 has 0 null values
column 2007-07-31 has 0 null values
column 2007-08-31 has 0 null values
column 2007-09-30 has 0 null values
column 2007-10-31 has 0 null values
column 2007-11-30 has 0 null values
column 2007-12-31 has 0 null values
column 2008-01-31 has 0 null values
column 2008-02-29 has 0 null values
column 2008-03-31 has 0 null values
column 2008-04-30 has 0 null values
column 2008-05-31 has 0 null values
column 2008-06-30 has 0 null values
column 2008-07-31 has 0 null values
column 2008-08-31 has 0 null values
column 2008-09-30 has 0 null values
column 2008-10-31 has 0 null values
column 2008-11-30 has 0 null values
column 2008-12-31 has 0 null values
column 2009-01-31 has 0 null values
column 2009-02-28 has 0 null values
column 2009-03-31 has 0 null values
column 2009-04-30 has 0 null values
column 2009-05-31 has 0 null values
column 2009-06-30 has 0 null values
column 2009-07-31 has 0 null values
column 2009-08-31 has 0 null values
column 2009-09-30 has 0 null values
column 2009-10-31 has 0 null values
column 2009-11-30 has 0 null values
column 2009-12-31 has 0 null values
column 2010-01-31 has 0 null values
column 2010-02-28 has 0 null values
column 2010-03-31 has 0 null values
column 2010-04-30 has 0 null values
column 2010-05-31 has 0 null values
column 2010-06-30 has 0 null values
column 2010-07-31 has 0 null values
column 2010-08-31 has 0 null values
column 2010-09-30 has 0 null values
column 2010-10-31 has 0 null values
column 2010-11-30 has 0 null values
column 2010-12-31 has 0 null values
column 2011-01-31 has 0 null values
column 2011-02-28 has 0 null values
column 2011-03-31 has 0 null values
column 2011-04-30 has 0 null values
column 2011-05-31 has 0 null values
column 2011-06-30 has 0 null values
column 2011-07-31 has 0 null values
column 2011-08-31 has 0 null values
column 2011-09-30 has 0 null values
column 2011-10-31 has 0 null values
column 2011-11-30 has 0 null values
column 2011-12-31 has 0 null values
column 2012-01-31 has 0 null values
column 2012-02-29 has 0 null values
column 2012-03-31 has 0 null values
column 2012-04-30 has 0 null values
column 2012-05-31 has 0 null values
column 2012-06-30 has 0 null values
column 2012-07-31 has 0 null values
column 2012-08-31 has 0 null values
column 2012-09-30 has 0 null values
column 2012-10-31 has 0 null values
column 2012-11-30 has 0 null values
column 2012-12-31 has 0 null values
column 2013-01-31 has 0 null values
column 2013-02-28 has 0 null values
column 2013-03-31 has 0 null values
column 2013-04-30 has 0 null values
column 2013-05-31 has 0 null values
column 2013-06-30 has 0 null values
column 2013-07-31 has 0 null values
column 2013-08-31 has 0 null values
column 2013-09-30 has 0 null values
column 2013-10-31 has 0 null values
column 2013-11-30 has 0 null values
column 2013-12-31 has 0 null values
column 2014-01-31 has 0 null values
column 2014-02-28 has 0 null values
column 2014-03-31 has 0 null values
column 2014-04-30 has 0 null values
column 2014-05-31 has 0 null values
column 2014-06-30 has 0 null values
column 2014-07-31 has 0 null values
column 2014-08-31 has 0 null values
column 2014-09-30 has 0 null values
column 2014-10-31 has 0 null values
column 2014-11-30 has 0 null values
column 2014-12-31 has 0 null values
column 2015-01-31 has 0 null values
column 2015-02-28 has 0 null values
column 2015-03-31 has 0 null values
column 2015-04-30 has 0 null values
column 2015-05-31 has 0 null values
column 2015-06-30 has 0 null values
column 2015-07-31 has 0 null values
column 2015-08-31 has 0 null values
column 2015-09-30 has 0 null values
column 2015-10-31 has 0 null values
column 2015-11-30 has 0 null values
column 2015-12-31 has 0 null values
column 2016-01-31 has 0 null values
column 2016-02-29 has 0 null values
column 2016-03-31 has 0 null values
column 2016-04-30 has 0 null values
column 2016-05-31 has 0 null values
column 2016-06-30 has 0 null values
column 2016-07-31 has 0 null values
column 2016-08-31 has 0 null values
column 2016-09-30 has 0 null values
column 2016-10-31 has 0 null values
column 2016-11-30 has 0 null values
column 2016-12-31 has 0 null values
column 2017-01-31 has 0 null values
column 2017-02-28 has 0 null values
column 2017-03-31 has 0 null values
column 2017-04-30 has 0 null values
column 2017-05-31 has 0 null values
column 2017-06-30 has 0 null values
column 2017-07-31 has 0 null values
column 2017-08-31 has 0 null values
column 2017-09-30 has 0 null values
column 2017-10-31 has 0 null values
column 2017-11-30 has 0 null values
column 2017-12-31 has 0 null values
column 2018-01-31 has 0 null values
column 2018-02-28 has 0 null values
column 2018-03-31 has 0 null values
column 2018-04-30 has 0 null values
column 2018-05-31 has 0 null values
column 2018-06-30 has 0 null values
column 2018-07-31 has 0 null values
column 2018-08-31 has 0 null values
column 2018-09-30 has 0 null values
column 2018-10-31 has 0 null values
column 2018-11-30 has 0 null values
column 2018-12-31 has 0 null values
column 2019-01-31 has 0 null values
column 2019-02-28 has 0 null values
column 2019-03-31 has 0 null values
column 2019-04-30 has 0 null values
column 2019-05-31 has 0 null values
column 2019-06-30 has 0 null values
column 2019-07-31 has 0 null values
column 2019-08-31 has 0 null values
column 2019-09-30 has 0 null values
column 2019-10-31 has 0 null values
column 2019-11-30 has 0 null values
column 2019-12-31 has 0 null values
column 2020-01-31 has 0 null values
column 2020-02-29 has 0 null values
column 2020-03-31 has 0 null values
column states_Types_Cat has 0 null values
column 0 has 0 null values
column 1 has 0 null values
column 2 has 0 null values
column 3 has 0 null values
column 4 has 0 null values
column 5 has 0 null values
column 6 has 0 null values
column 7 has 0 null values
column 8 has 0 null values
column 9 has 0 null values
column 10 has 0 null values
column 11 has 0 null values
column 12 has 0 null values
column 13 has 0 null values
column 14 has 0 null values
column 15 has 0 null values
column 16 has 0 null values
column 17 has 0 null values
column 18 has 0 null values
column 19 has 0 null values
column 20 has 0 null values
column 21 has 0 null values
column 22 has 0 null values
column 23 has 0 null values
column 24 has 0 null values
column 25 has 0 null values
column 26 has 0 null values
column 27 has 0 null values
column 28 has 0 null values
column 29 has 0 null values
column 30 has 0 null values
column 31 has 0 null values
column 32 has 0 null values
column 33 has 0 null values
column 34 has 0 null values
column 35 has 0 null values
column 36 has 0 null values
column 37 has 0 null values
column 38 has 0 null values
column 39 has 0 null values
column 40 has 0 null values
column 41 has 0 null values
column 42 has 0 null values
column 43 has 0 null values
column 44 has 0 null values
column 45 has 0 null values
column 46 has 0 null values
column 47 has 0 null values
column 48 has 0 null values
column 49 has 0 null values
column 50 has 0 null values

In [4]:
num_all_homes_df_transformed['states_Types_Cat'].value_counts()

38.0    1392
43.0    1104
34.0     959
4.0      924
14.0     727
35.0     707
9.0      569
24.0     567
27.0     555
22.0     554
23.0     545
48.0     506
45.0     471
12.0     455
31.0     447
10.0     411
36.0     406
17.0     395
1.0      358
2.0      353
15.0     352
47.0     333
49.0     320
20.0     311
42.0     310
18.0     274
5.0      261
37.0     236
40.0     235
19.0     235
16.0     218
21.0     207
25.0     201
29.0     169
13.0     164
3.0      159
44.0     154
26.0     140
32.0     135
6.0      110
46.0     101
28.0      96
41.0      91
50.0      89
30.0      84
11.0      63
33.0      56
0.0       44
8.0       37
39.0      25
7.0        1
Name: states_Types_Cat, dtype: int64

In [5]:
# Define features set -- using 2020-03 as y for now 
X = num_all_homes_df_transformed.copy()
X = X.drop("2020-03-31", axis=1)
X.head()

,Unnamed: 0,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,...,41,42,43,44,45,46,47,48,49,50
0,0,196258.0,195693.0,195383.0,194836.0,194652.0,194520.0,194447.0,194313.0,194271.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,185649.0,185625.0,185645.0,185706.0,185755.0,185852.0,186014.0,185977.0,185812.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,93518.0,93633.0,93636.0,93811.0,93966.0,94079.0,94126.0,94220.0,94436.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,130920.0,130772.0,130511.0,130495.0,130172.0,130291.0,130143.0,130523.0,131041.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,94041.0,94007.0,93973.0,93957.0,93895.0,93880.0,93880.0,93981.0,94100.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Define target vector y 
y = num_all_homes_df_transformed["2020-03-31"].values.reshape(-1, 1)
y[:5]

array([[652307.],
       [752508.],
       [191907.],
       [249152.],
       [187718.]])

In [7]:
print(y.shape)
print(type(y))

(17616, 1)
<class 'numpy.ndarray'>

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [9]:
# ## instead of train test will just compare x and y with cross-validation 

# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X)
# Scaling data
X_scaled = X_scaler.transform(X)

In [10]:
## fitting scaled x and y to linear regression model 

from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(X_scaled,y)

LinearRegression()

In [11]:
## create small test set

some_y = y[0:200]
some_x = X_scaled[0:200]

In [12]:
## make predictions with trained model 

lin_reg.predict(some_x)

array([[ 652276.10601684],
       [ 752490.09614111],
       [ 191870.5341096 ],
       [ 249174.74561737],
       [ 187715.36250521],
       [ 187781.12877823],
       [ 269176.09580202],
       [ 290543.32398818],
       [ 679619.07486038],
       [ 226121.91314248],
       [ 401935.15392879],
       [1073165.96879649],
       [ 195671.30034694],
       [ 153232.68639893],
       [1447650.63206278],
       [ 252448.61201852],
       [ 212131.56559731],
       [ 215978.23360352],
       [ 174147.2991204 ],
       [ 178808.80178502],
       [ 260949.02743216],
       [ 138220.65371182],
       [  36338.44795131],
       [ 465520.33730992],
       [ 767969.81854021],
       [  97566.62043864],
       [ 644753.77635795],
       [ 640786.12742484],
       [ 467640.03925722],
       [ 289142.46373043],
       [ 362374.27739326],
       [ 152203.67632912],
       [ 135592.78705662],
       [ 258417.09208423],
       [ 196217.17653714],
       [ 216084.07817624],
       [ 142182.72311185],
       [ 290264.32083324],
       [ 278495.30326658],
       [ 370749.5419363 ],
       [ 299300.52017476],
       [ 162443.71172677],
       [ 323197.82436702],
       [ 629180.6353277 ],
       [ 288538.71238055],
       [ 801114.7706134 ],
       [ 129879.18493528],
       [ 291502.85963139],
       [ 705071.3083587 ],
       [  68766.38378907],
       [ 237246.82075026],
       [ 221018.38119872],
       [ 200630.60671861],
       [ 183049.20154404],
       [ 138545.21991912],
       [ 251385.799136  ],
       [ 363844.53998905],
       [ 426832.68829342],
       [ 256905.20461234],
       [ 165640.95520284],
       [ 180030.5555512 ],
       [ 644058.995261  ],
       [ 593295.20167896],
       [ 147115.37863814],
       [ 386461.21172608],
       [ 308495.43661369],
       [ 366804.57778254],
       [ 160613.8827493 ],
       [ 131314.9722167 ],
       [ 164306.52020167],
       [ 201818.51957359],
       [ 147767.66398137],
       [ 429853.413515  ],
       [  77388.11344158],
       [ 328877.13688133],
       [ 242377.27483582],
       [ 334821.95617857],
       [ 256978.32949472],
       [ 196591.35356944],
       [ 320252.47078066],
       [ 345420.13208303],
       [ 289253.98256884],
       [ 344514.66541392],
       [ 197790.60619594],
       [ 317638.69696302],
       [ 403335.44145486],
       [ 264176.69280908],
       [ 347829.64478407],
       [ 150091.42004489],
       [ 500343.47643935],
       [ 105775.99036743],
       [ 128372.59213659],
       [ 297933.92052187],
       [ 313435.12185662],
       [ 569321.33218911],
       [ 232868.64401283],
       [ 163460.92930817],
       [ 239129.45492642],
       [ 288090.32876465],
       [ 152345.00289951],
       [ 204569.22439123],
       [ 255964.08197582],
       [ 532275.51180201],
       [ 122910.12024608],
       [ 341438.78639878],
       [ 907210.73089035],
       [ 155845.74636055],
       [ 278857.21485502],
       [ 283514.82834364],
       [ 225006.5805674 ],
       [ 209017.48737239],
       [ 221239.09440599],
       [ 368779.1912337 ],
       [ 274230.26632605],
       [1117286.18629804],
       [ 580710.21374921],
       [ 423557.31581679],
       [ 237591.66428536],
       [ 148364.81715337],
       [  64817.11693496],
       [ 207303.5234103 ],
       [ 598566.42462349],
       [ 518815.489378  ],
       [ 242415.59639492],
       [ 149816.24732566],
       [ 162594.55598003],
       [ 356171.45042897],
       [ 105473.94739183],
       [ 351794.67277344],
       [  91794.65700816],
       [ 237167.44803307],
       [ 506350.97307936],
       [ 568665.71628977],
       [ 353937.66175857],
       [ 186922.16779286],
       [ 204516.56351263],
       [ 538428.85080865],
       [ 110368.14107488],
       [ 352824.44664304],
       [  74281.26125543],
       [ 254212.21377592],
       [ 886166.07350932],
       [ 183340.30016584],
       [ 136840.96179623],
       [ 349455.45329728],
       [ 420027.33002184],
       [ 235710.92013772],
       [ 518734.03036832],
       [ 152608.0192146 ],
       [ 422303.04759949],
       [ 693386.69458191],
       [ 102385.97003619],
       [  95382.09304369],
       [ 131739.52707551],
       [ 267211.76511428],
       [ 321602.4172702 ],
       [ 310375.06225668],
       [ 295275.59555751],
       [ 662566.77406757],
       [ 221858.67973647],
       [ 410758.55251385],
       [ 553469.12050314],
       [ 247217.93086383],
       [ 352173.12409656],
       [ 454347.80198142],
       [ 212505.5219101 ],
       [ 336567.94430684],
       [ 234962.44510709],
       [ 171371.88901564],
       [ 319953.59604928],
       [ 266266.02147569],
       [ 550622.55516562],
       [ 237467.50944747],
       [ 167117.14323856],
       [ 313678.96292982],
       [ 137387.43871224],
       [ 340311.34465411],
       [ 172243.07589393],
       [ 190404.52208429],
       [ 546895.26210658],
       [ 183181.22417186],
       [  42420.76008158],
       [ 469716.88299966],
       [ 311334.28597124],
       [ 315630.45104953],
       [ 396412.25021428],
       [ 588968.02467875],
       [ 270834.71894811],
       [ 123886.57597368],
       [ 330593.1047358 ],
       [ 174337.33657544],
       [ 326054.65806773],
       [ 245820.3701898 ],
       [ 180756.96300665],
       [ 195585.66086712],
       [ 191639.49460717],
       [ 257880.33388704],
       [  62400.19671118],
       [ 267131.73710236],
       [ 444739.67114739]])

In [13]:
print("actual :",list(some_y))

actual : [array([652307.]), array([752508.]), array([191907.]), array([249152.]), array([187718.]), array([187772.]), array([269175.]), array([290535.]), array([679568.]), array([226145.]), array([401999.]), array([1073255.]), array([195692.]), array([153159.]), array([1447191.]), array([252438.]), array([212127.]), array([215965.]), array([174109.]), array([178807.]), array([260915.]), array([138237.]), array([36293.]), array([465466.]), array([767906.]), array([97574.]), array([644743.]), array([640783.]), array([467621.]), array([289142.]), array([362400.]), array([152180.]), array([135570.]), array([258502.]), array([196202.]), array([216090.]), array([142220.]), array([290270.]), array([278497.]), array([370738.]), array([299308.]), array([162487.]), array([323194.]), array([629202.]), array([288499.]), array([801072.]), array([129889.]), array([291476.]), array([705049.]), array([68757.]), array([237225.]), array([221016.]), array([200650.]), array([183015.]), array([138575.]), array([251387.]), array([363839.]), array([426801.]), array([256909.]), array([165613.]), array([179972.]), array([644067.]), array([593313.]), array([147135.]), array([386487.]), array([308513.]), array([366840.]), array([160597.]), array([131350.]), array([164352.]), array([201866.]), array([147756.]), array([429873.]), array([77414.]), array([328889.]), array([242370.]), array([334871.]), array([256993.]), array([196597.]), array([320319.]), array([345430.]), array([289358.]), array([344524.]), array([197791.]), array([317555.]), array([403318.]), array([264212.]), array([347832.]), array([150118.]), array([500395.]), array([105695.]), array([128357.]), array([297907.]), array([313427.]), array([569273.]), array([232838.]), array([163432.]), array([239160.]), array([288077.]), array([152337.]), array([204594.]), array([255954.]), array([532275.]), array([122922.]), array([341449.]), array([907185.]), array([155877.]), array([278893.]), array([283520.]), array([224979.]), array([209050.]), array([221259.]), array([368772.]), array([274232.]), array([1117349.]), array([580729.]), array([423560.]), array([237634.]), array([148368.]), array([64840.]), array([207299.]), array([598590.]), array([518706.]), array([242406.]), array([149824.]), array([162607.]), array([356203.]), array([105486.]), array([351712.]), array([91810.]), array([237115.]), array([506347.]), array([568595.]), array([354019.]), array([186941.]), array([204469.]), array([538412.]), array([110364.]), array([352851.]), array([74281.]), array([254183.]), array([886160.]), array([183387.]), array([136843.]), array([349466.]), array([419987.]), array([235708.]), array([518721.]), array([152585.]), array([422286.]), array([693428.]), array([102365.]), array([95419.]), array([131733.]), array([267281.]), array([321556.]), array([310330.]), array([295188.]), array([662566.]), array([221836.]), array([410780.]), array([553421.]), array([247135.]), array([352161.]), array([454353.]), array([212513.]), array([336539.]), array([234918.]), array([171384.]), array([319975.]), array([266253.]), array([550634.]), array([237432.]), array([167098.]), array([313734.]), array([137420.]), array([340320.]), array([172281.]), array([190414.]), array([546877.]), array([183230.]), array([42402.]), array([469705.]), array([311342.]), array([315656.]), array([396425.]), array([588968.]), array([270862.]), array([123904.]), array([330593.]), array([174315.]), array([326015.]), array([245839.]), array([180750.]), array([195578.]), array([191598.]), array([257864.]), array([62471.]), array([267033.]), array([444730.])]

In [14]:
from sklearn.metrics import mean_squared_error
import numpy as np
import os

housing_predictions = lin_reg.predict(X_scaled)
lin_mse = mean_squared_error(y, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
lin_rmse

90.13169049790778

In [15]:
from sklearn.metrics import mean_absolute_error

lin_mae = mean_absolute_error(y, housing_predictions)
lin_mae

41.993278096841884

In [17]:
## trying decision tree regressor 

from sklearn.tree import DecisionTreeRegressor
## create instance 
tree_reg = DecisionTreeRegressor(random_state=42)

# fit to data 
tree_reg.fit(X_scaled, y)

DecisionTreeRegressor(random_state=42)

In [18]:
## over fitting initially as it has seen all th data 

housing_predictions = tree_reg.predict(X_scaled)
tree_mse = mean_squared_error(y, housing_predictions)
tree_rmse = np.sqrt(tree_mse)
tree_rmse

0.0

In [19]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(tree_reg, X_scaled, y,
                         scoring="neg_mean_squared_error", cv=10)
tree_rmse_scores = np.sqrt(-scores)

In [20]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

display_scores(tree_rmse_scores)

Scores: [11595.38012384  7626.86921995 64017.73065785 16168.38287573
  7149.47085752  4638.13866195  2658.5833819   7205.71890907
 10165.15929283 37872.55662854]
Mean: 16909.799060917354
Standard deviation: 18336.232160181928

In [21]:
### check cross validation scores for linear regressor 

lin_scores = cross_val_score(lin_reg, X_scaled, y,
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

Scores: [ 82.3765684   70.70766019  90.56493673  89.38349482  78.03149693
  72.28052157 228.48991711 101.67681874 341.1753016  141.83187411]
Mean: 129.65185901998368
Standard deviation: 83.81939907070571

In [22]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor(n_estimators=10, random_state=42, max_depth=3)
forest_reg.fit(X_scaled, y)

C:\Users\marko\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(max_depth=3, n_estimators=10, random_state=42)

In [23]:
lin_scores = cross_val_score(forest_reg, X_scaled, y,
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)

C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

Scores: [42647.5842088  30633.03252436 61528.19185635 40021.77521632
 27148.30024148 28894.96317116 26903.78632918 31723.52673034
 34839.94777109 36643.1197685 ]
Mean: 36098.4227817596
Standard deviation: 9860.952735608831

In [24]:
##at the moment the lin_regressor has better mean square error than the tree regressor or random forest regressor

## more tunning of hyperparameters could help 

## will create predicitions csv with lin_reg for second deliverable

In [25]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint

In [26]:
param_distribs = {
        'n_estimators': randint(low=1, high=10),
        'max_features': randint(low=1, high=200),
    }

forest_reg = RandomForestRegressor(random_state=42)
rnd_search = RandomizedSearchCV(forest_reg, param_distributions=param_distribs,
                                n_iter=10, cv=5, scoring='neg_mean_squared_error', random_state=42)
rnd_search.fit(X_scaled, y)

C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
C:\Users\marko\.conda\envs\PythonData\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42),
                   param_distributions={'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x00000257B9F2CE80>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x00000257B9F2C278>},
                   random_state=42, scoring='neg_mean_squared_error')

In [27]:
## results of random cv of random forest regressor 

cvres = rnd_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

20406.534018625265 {'max_features': 103, 'n_estimators': 4}
21072.349996871384 {'max_features': 93, 'n_estimators': 8}
23090.751545224597 {'max_features': 189, 'n_estimators': 5}
18902.258012955946 {'max_features': 103, 'n_estimators': 3}
23573.599147652214 {'max_features': 75, 'n_estimators': 8}
25417.856497712546 {'max_features': 117, 'n_estimators': 4}
24176.517716935145 {'max_features': 104, 'n_estimators': 8}
17261.325764521185 {'max_features': 131, 'n_estimators': 6}
21585.7470077457 {'max_features': 53, 'n_estimators': 2}
24032.693724874258 {'max_features': 88, 'n_estimators': 6}

In [28]:
## taking best model from CV 

final_model = rnd_search.best_estimator_

In [29]:
## the hpyerparameters for the best estimator 

rnd_search.best_estimator_

RandomForestRegressor(max_features=131, n_estimators=6, random_state=42)

In [30]:
final_predictions = final_model.predict(X_scaled)

final_mse = mean_squared_error(y, final_predictions)
final_rmse = np.sqrt(final_mse)

In [31]:
## real mean square error less than 10 thousand , not bad compared to others, 

final_rmse

8538.365804248555

In [32]:
len(final_predictions)

17616

In [33]:
final_predictions_df= pd.DataFrame(final_predictions)

In [34]:
final_predictions_df

                   0
0      652843.333333
1      751602.166667
2      191907.000000
3      248907.500000
4      187627.333333
...              ...
17611   87913.000000
17612   35881.500000
17613  130833.666667
17614   82166.666667
17615  182388.666667

[17616 rows x 1 columns]

In [35]:
final_predictions_df.to_csv('random_forest_deliverable_2_predictions.csv',encoding='utf-8')

In [36]:
print(final_predictions_df.describe())
print(final_predictions_df.info())

                  0
count  1.761600e+04
mean   2.253042e+05
std    2.511036e+05
min    1.368233e+04
25%    1.050290e+05
50%    1.634208e+05
75%    2.608853e+05
max    5.880207e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17616 entries, 0 to 17615
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       17616 non-null  float64
dtypes: float64(1)
memory usage: 137.8 KB
None

In [38]:
## for random forrest regressor final